{% load static %}
<html>
    <head>
        <title>
            Face Recognition software
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.1.1/dist/siimple.min.css">
    </head>
    <body>
    <div >
        <div>
            {% include 'navigation.html' %}
            {% block content %} 
                content here 
            {% endblock %}
        </div>
    </div>
        <!-- load jquery -->
        <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
        {% block extra_js %} {% endblock %}
    </body>
</html>