.form-control{
    border-left: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 0px; border-top:0px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    width: 70%;
    box-shadow: rgb(99, 99, 99);
}
.form-control:hover{
    background-color: #d1e1f5;
    border-radius: 5px;
}

.form-control:focus{
    box-shadow: 2px 2px #d1e1f5;
    border-bottom-right-radius: 5px;
}

.label{
    margin-bottom: 5px;
}

.img-thumbnail{
    width: 45%;
    height: 213px;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
}

.result-card{
    width: 90%;
    border: 1px solid rgba(190, 197, 212, 0.63);
    padding: 10px;
    border-radius: 5px;
}

.result-title{
    font-size: 2em;
}

.result-body{
    display: inline-flex;
}

.result-image{
    margin-right: 10px;
}

.result-mobile{
    font-size: 1.8em;
    background-color: #10417c;
    color: rgba(255, 255, 255, 0.575);
}

.result-address{
    font-size: 1.4em;
    font-style: italic;
}